<!DOCTYPE html>
<html lang="en">

<head>

    <title>@ViewData["Title"] - Customer_Module</title>


    <link href="~/css/bootstrap.min.css" rel="stylesheet" /> @* Bootstrap v3.3.5  *@
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/css/components.css" rel="stylesheet" />
    <link href="~/css/style-shop.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/red.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/custom-font-sizes.css" rel="stylesheet" />
</head>


<body>

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container-fluid">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6">
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="shop-account.html">My Account</a></li>
                        <li class="langs-block">
                            <a href="javascript:void(0);" class="current">Ajmal Shah </a>
                            <div class="langs-block-others-wrapper">
                                <div class="langs-block-others">
                                    <a href="javascript:void(0);">French</a>
                                    <a href="javascript:void(0);">Sign out</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
        <div class="container">
            <a class="site-logo" href="shop-index.html"><img src="~/image/logo-shop-red.png" alt="Metronic Shop UI" /></a>

            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            <!-- BEGIN CART TODO: I need to make it dynamic -->
            <div class="top-cart-block">

                @await Component.InvokeAsync("Cart") <!-- This calls your Cart View Component -->

            </div>
            <!--END CART -->
            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation">
                <ul>

                    <li class="dropdown dropdown-megamenu">
                        <a asp-controller="Home" asp-action="Index" class="">Home</a>
                    </li>


                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Man</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Coat</a></li>
                                                <li><a href="shop-product-list.html">Jackets</a></li>
                                                <li><a href="shop-product-list.html">Trousers</a></li>
                                                <li><a href="shop-product-list.html">Leatherwear</a></li>
                                                <li><a href="shop-product-list.html">Sleepwear</a></li>
                                                <li><a href="shop-product-list.html">Swimwear</a></li>
                                                <li><a href="shop-product-list.html">Security uniform</a></li>
                                                <li><a href="shop-product-list.html">Sports uniform</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Cap</a></li>
                                                <li><a href="shop-product-list.html">Boxers</a></li>
                                                <li><a href="shop-product-list.html">Gloves</a></li>
                                                <li><a href="shop-product-list.html">Belts</a></li>
                                                <li><a href="shop-product-list.html">Ties</a></li>
                                                <li><a href="shop-product-list.html">Bags</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Boats</a></li>
                                                <li><a href="shop-product-list.html">Socks</a></li>
                                                <li><a href="shop-product-list.html">Sports Shoes</a></li>
                                                <li><a href="shop-product-list.html">Slippers</a></li>
                                                <li><a href="shop-product-list.html">Casual Shoes</a></li>
                                                <li><a href="shop-product-list.html">Formal Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Woman</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Coat</a></li>
                                                <li><a href="shop-product-list.html">Jackets</a></li>
                                                <li><a href="shop-product-list.html">Trousers</a></li>
                                                <li><a href="shop-product-list.html">Leatherwear</a></li>
                                                <li><a href="shop-product-list.html">Sleepwear</a></li>
                                                <li><a href="shop-product-list.html">Swimwear</a></li>
                                                <li><a href="shop-product-list.html">Security uniform</a></li>
                                                <li><a href="shop-product-list.html">Sports uniform</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Cap</a></li>
                                                <li><a href="shop-product-list.html">Bra</a></li>
                                                <li><a href="shop-product-list.html">Panty</a></li>
                                                <li><a href="shop-product-list.html">Gloves</a></li>
                                                <li><a href="shop-product-list.html">Bags</a></li>
                                                <li><a href="shop-product-list.html">Belts</a></li>
                                                <li><a href="shop-product-list.html">Ties</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Boats</a></li>
                                                <li><a href="shop-product-list.html">Socks</a></li>
                                                <li><a href="shop-product-list.html">Sports Shoes</a></li>
                                                <li><a href="shop-product-list.html">Slippers</a></li>
                                                <li><a href="shop-product-list.html">Casual Shoes</a></li>
                                                <li><a href="shop-product-list.html">Formal Shoes</a></li>
                                                <li><a href="shop-product-list.html">Heels</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Children</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Coat</a></li>
                                                <li><a href="shop-product-list.html">Jackets</a></li>
                                                <li><a href="shop-product-list.html">Trousers</a></li>
                                                <li><a href="shop-product-list.html">Leatherwear</a></li>
                                                <li><a href="shop-product-list.html">Sleepwear</a></li>
                                                <li><a href="shop-product-list.html">Swimwear</a></li>
                                                <li><a href="shop-product-list.html">Sports uniform</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Cap</a></li>
                                                <li><a href="shop-product-list.html">Gloves</a></li>
                                                <li><a href="shop-product-list.html">Bags</a></li>
                                                <li><a href="shop-product-list.html">Belts</a></li>
                                                <li><a href="shop-product-list.html">Ties</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                                <li><a href="shop-product-list.html">Boats</a></li>
                                                <li><a href="shop-product-list.html">Socks</a></li>
                                                <li><a href="shop-product-list.html">Sports Shoes</a></li>
                                                <li><a href="shop-product-list.html">Slippers</a></li>
                                                <li><a href="shop-product-list.html">Casual Shoes</a></li>
                                                <li><a href="shop-product-list.html">Formal Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Contact Us</a>
                    </li>


                    <li class="dropdown dropdown-megamenu">
                        <div class="top-cart-block input-group">
                            <input type="text" placeholder="Search Category" style="height:32px">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </li>


                </ul>
            </div>
            <!-- END NAVIGATION -->
        </div>
    </div>
    <!-- Header END -->
    <!-- Main Content -->
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Customer_Module - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


</body>

</html>
