@model CommonModule.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout_NoMenu.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h2 class="text-center mb-4">Forgot Password</h2>
            <div class="card">
                <div class="card-body">
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-info" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    <form asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter your Email address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <br />
                        <p class="mb-0 d-inline">Wanna go back to Sign in? <a href="@Url.Action("Login", "Users")" class="btn btn-link p-0 ms-1">Sign In</a></p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
